@model List<ThAmCo.Events.Data.GuestBooking>;

@{
    ViewData["Title"] = "EventBookings";
}

<h2>EventBookings</h2>

<div>
    <h4>Event</h4>
    <hr />

    <div class="row">
        <div class="col-md-9">
            <form asp-action="EventBookings">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @foreach (var item in Model)
                    {
                        <input type="hidden" asp-for="@item.CustomerId" />
                        <input type="hidden" asp-for="@item.EventId" />
                        <label style="display:block">
                            <div>
                                @Html.DisplayFor(model => item.Customer.FirstName) @Html.DisplayFor(model => item.Customer.Surname) | @Html.DisplayNameFor(m => item.Attended): <input asp-for="@item.Attended" />
                            </div>
                        </label>
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
